LW 18-2 PSD/LW 18-2 PSD/Service References/CartReference/CartController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getUserCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserCartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="shoeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertCartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="shoeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="qty" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="updateQty" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateCartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteCartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getUserCartSoapIn">
    <wsdl:part name="parameters" element="tns:getUserCart" />
  </wsdl:message>
  <wsdl:message name="getUserCartSoapOut">
    <wsdl:part name="parameters" element="tns:getUserCartResponse" />
  </wsdl:message>
  <wsdl:message name="insertCartSoapIn">
    <wsdl:part name="parameters" element="tns:insertCart" />
  </wsdl:message>
  <wsdl:message name="insertCartSoapOut">
    <wsdl:part name="parameters" element="tns:insertCartResponse" />
  </wsdl:message>
  <wsdl:message name="updateCartSoapIn">
    <wsdl:part name="parameters" element="tns:updateCart" />
  </wsdl:message>
  <wsdl:message name="updateCartSoapOut">
    <wsdl:part name="parameters" element="tns:updateCartResponse" />
  </wsdl:message>
  <wsdl:message name="deleteCartSoapIn">
    <wsdl:part name="parameters" element="tns:deleteCart" />
  </wsdl:message>
  <wsdl:message name="deleteCartSoapOut">
    <wsdl:part name="parameters" element="tns:deleteCartResponse" />
  </wsdl:message>
  <wsdl:portType name="CartControllerSoap">
    <wsdl:operation name="getUserCart">
      <wsdl:input message="tns:getUserCartSoapIn" />
      <wsdl:output message="tns:getUserCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertCart">
      <wsdl:input message="tns:insertCartSoapIn" />
      <wsdl:output message="tns:insertCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateCart">
      <wsdl:input message="tns:updateCartSoapIn" />
      <wsdl:output message="tns:updateCartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteCart">
      <wsdl:input message="tns:deleteCartSoapIn" />
      <wsdl:output message="tns:deleteCartSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CartControllerSoap" type="tns:CartControllerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUserCart">
      <soap:operation soapAction="http://tempuri.org/getUserCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCart">
      <soap:operation soapAction="http://tempuri.org/insertCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCart">
      <soap:operation soapAction="http://tempuri.org/updateCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCart">
      <soap:operation soapAction="http://tempuri.org/deleteCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CartControllerSoap12" type="tns:CartControllerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUserCart">
      <soap12:operation soapAction="http://tempuri.org/getUserCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCart">
      <soap12:operation soapAction="http://tempuri.org/insertCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCart">
      <soap12:operation soapAction="http://tempuri.org/updateCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCart">
      <soap12:operation soapAction="http://tempuri.org/deleteCart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CartController">
    <wsdl:port name="CartControllerSoap" binding="tns:CartControllerSoap">
      <soap:address location="http://localhost:59230/Controllers/CartController.asmx" />
    </wsdl:port>
    <wsdl:port name="CartControllerSoap12" binding="tns:CartControllerSoap12">
      <soap12:address location="http://localhost:59230/Controllers/CartController.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>